.titu {
    --background: #0A3F70;
    color: white;
    font-family: 'Montserrat', sans-serif;
  
    text-align: center;
  }
  
  #container {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
    
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
 
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
    
    
    
  }
  
  #open-modal {
    --border-radius: 27px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    --background: #FFC01D ;
  }

  .testo {       
    --border-color: #CCCCCC; 
    --border-style: solid;    
    --border-width: 1px;  
    --border-radius: 27px;       
    --color: #CCCCCC;            
    --placeholder-color: #CCCCCC; 
    --placeholder-opacity: 1;  
    margin:0 15px;    
  }
  
  .ara {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
  }
